@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  img {
    display: block;
	margin-left: auto;
	margin-right: auto;
  }	

body {
  background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
  font-family: 'Roboto Mono', monospace;
  color: #333;
  line-height: 1.9;
}
 . th {
	 justify-content: center;
 } 
.babe {
	text-decoration: none;
	font-size: 20px;
	color: black;
}

header {
  padding: 30px;
  text-align: center;
}

.icons:hover {
  background-color: white;
  box-shadow:  0 0 0 5px white;
  transition: .5s;
  transform: scale(1.5);
  border-radius: 10px;
}
.babe:hover {
  background-color: white;
  box-shadow:  0 0 0 5px white;
  transition: .5s;
  transform: scale(1.5);
  border-radius: 10px;
}
section {
  padding: 10px;
  border: 2px; solid black;
  max-width: 800px;
  margin: 0 auto;
}
 .section2 {
	 display: fixed;
	 gap: 20px;
	 justify-content: center;
 }
 .container {
  
  height: 97px;
  position: relative;
  border-color: #FFFAFA;
}
  .icon {
	  display: flex;
	  gap: 160px;
	  justify: center;
  }
 div.container {
	 text-align: center;
 }